<%= render 'shared/slider' %>
<div class="container">
  <div class="home-sections">
    <h2>Nature & Landscape</h2>
    <div class="home-images">
      <%= cl_image_tag("börgerende_web_lbdgil", width: 350, crop: :fill) %>
      <%= cl_image_tag("börgerende_web_lbdgil", width: 350, crop: :fill) %>
      <%= cl_image_tag("börgerende_web_lbdgil", width: 350, crop: :fill) %>
    </div>

    <h2>People & Lifestyle</h2>
    <div class="home-images">
      <%= cl_image_tag("börgerende_web_lbdgil", width: 350, crop: :fill) %>
      <%= cl_image_tag("börgerende_web_lbdgil", width: 350, crop: :fill) %>
      <%= cl_image_tag("börgerende_web_lbdgil", width: 350, crop: :fill) %>
    </div>

    <h2>Art & Culture</h2>
    <div class="home-images">
      <%= cl_image_tag("börgerende_web_lbdgil", width: 350, crop: :fill) %>
      <%= cl_image_tag("börgerende_web_lbdgil", width: 350, crop: :fill) %>
      <%= cl_image_tag("börgerende_web_lbdgil", width: 350, crop: :fill) %>
    </div>
  </div>
</div>
